<%- include('partials/header') -%>

<h1 style="color:green;">Authorized !!</h1>
<p><b><%= user.email %></b> is allowed to perform the selected action [ <%= action %> ]</p>

<%- include('partials/footer') -%>