<%- include('partials/header') -%>

<h1 style="color:red;">Unauthorized !!</h1>
  <p>User <b><%= user.email %></b> is not allowed to perform action [<%= action %>]</p>

<%- include('partials/footer') -%>